@model  PlaceModel

@{
    ViewBag.Title = "IndexSearchLoDetail";
}

@Html.HiddenFor(Model => Model.Place_ID, new { @class = "form-control" })

<div class="container-fluid">
    <div class="row matop">
        <div class="col-md-12">
            <h2 class="search NameEvent">ร้านจุดจุดจุด<i class="fa fa-search"></i> </h2>
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="positionFixedLeft">
        <div class="card" style="width: 18rem; height:100%">
            <div class="card-body">
                

                <div class="form-group">
                    @Html.DropDownListFor(Model => Model.PlaceType_ID, new SelectList(ViewBag.placetypename, "PlaceType_ID", "PlaceType_Name"), "ระบุประเภทสถานที่",
         new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.DropDownListFor(Model => Model.Place_Province, new SelectList(ViewBag.provincename, "ID", "Name"), "ระบุจังหวัด", new { @class = "form-control bt" })
                </div>

                <div class="form-group">
                    @Html.DropDownListFor(Model => Model.Place_District, new SelectList(ViewBag.District, "ID", "Name"), "ระบุเขต/อำเภอ", new { @class = "form-control" })
                </div>         
               

                <div class="form-group bt">
                    <input id="txtempNo1" class="form-control" href="#" type="text" value="ระบุจำนวนคน" onClick="this.select();" />
                    <!--<input id="txtempNo2" class="ss1" href="#" type="date" value="วันที่ใช้" onClick="this.select();" />-->
                    <!--<input id="datepicker" class="ss1" href="#" type="text" value="ถึงวันที่" onClick="this.select();" />-->
                    @*<div class="date">
                            <input type="text" class="ss1 form-control" id="fromDate" value="วันที่ใช้">
                        </div>

                        <div class="date">
                            <input type="text" class="ss1 form-control" id="toDate" value="ถึงวันที่">
                        </div>*@
                </div>

                <div class="divbutton">
                    <a href="@Url.Action("IndexSearchLo","Search")" class="btn btn-dark btt">ค้นหา</a>
                </div>
            </div>
        </div>
    </div>

    @Html.Action("_PartialIndexSearchLoDetail", "Search", new { Place_ID = 100003 })

    @*<div class="row matop">
        <div class="offset-md-3 col-md-3 col-sm-6">
            <div class="card">
                <div id="SearchLoDetail1" class="carousel slide" data-ride="carousel">

                    <a class="btn" href="#myModalSearchLoDetail1" data-toggle="modal">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" />
                            </div>
                        </div>
                    </a>

                    <div id="myModalSearchLoDetail1" class="modal hide fade" tabindex="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" /></p>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#SearchLoDetail1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#SearchLoDetail1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">ห้องปาตี้</h5>
                    <p class="card-text">ราคา: 5,000 บาท</p>
                    <p class="card-text">ค่ามัดจำ: 1,000 บาท</p>
                    <p class="card-text">จำนวนคน: 20 คน</p>
                    <p class="card-text">เบอร์โทรติดต่อ: 091-234-7890</p>
                    <p class="card-text">อีเมล: event@hotmail.com</p>
                    <p class="card-text">ตำแหน่งที่ตั้ง: 99/9 ซอย9 บราๆ</p>
                    <p class="card-text">หมายเหตุ:สามารถคุยรายละเอียดเรื่องราคาได้ บราๆ</p>

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalSearchLoDetailFavorite">
                        สนใจ
                    </button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalSearchLoDetailBooking">
                        จอง
                    </button>
                </div>
            </div>
        </div>


        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div id="SearchLoDetail2" class="carousel slide" data-ride="carousel">
                    <a class="btn" href="#myModalSearchLoDetail2" data-toggle="modal">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" />
                            </div>
                        </div>
                    </a>
                    <div id="myModalSearchLoDetail2" class="modal hide fade" tabindex="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/สระน้ำ1.jpg" class="d-block w-100" /></p>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#SearchLoDetail2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#SearchLoDetail2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">โซนOutdoor</h5>
                    <p class="card-text">ราคา: 5,000 บาท</p>
                    <p class="card-text">ค่ามัดจำ: 1,000 บาท</p>
                    <p class="card-text">จำนวนคน: 20 คน</p>
                    <p class="card-text">เบอร์โทรติดต่อ: 091-234-7890</p>
                    <p class="card-text">อีเมล: event@hotmail.com</p>
                    <p class="card-text">ตำแหน่งที่ตั้ง: 99/9 ซอย9 บราๆ</p>
                    <p class="card-text">หมายเหตุ:สามารถคุยรายละเอียดเรื่องราคาได้ บราๆ</p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalSearchLoDetailFavorite">
                        สนใจ
                    </button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalSearchLoDetailBooking">
                        จอง
                    </button>
                </div>
            </div>
        </div>


        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div id="SearchLoDetail3" class="carousel slide" data-ride="carousel">
                    <a class="btn" href="#myModalSearchLoDetail3" data-toggle="modal">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />
                            </div>
                        </div>
                    </a>
                    <div id="myModalSearchLoDetail3" class="modal hide fade" tabindex="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />  </p>
                            <p><img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />  </p>
                            <p><img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />  </p>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#SearchLoDetail3" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#SearchLoDetail3" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">ห้องส่วนตัว</h5>
                    <p class="card-text">ราคา: 5,000 บาท</p>
                    <p class="card-text">ค่ามัดจำ: 1,000 บาท</p>
                    <p class="card-text">จำนวนคน: 20 คน</p>
                    <p class="card-text">เบอร์โทรติดต่อ: 091-234-7890</p>
                    <p class="card-text">อีเมล: event@hotmail.com</p>
                    <p class="card-text">ตำแหน่งที่ตั้ง: 99/9 ซอย9 บราๆ</p>
                    <p class="card-text">หมายเหตุ:สามารถคุยรายละเอียดเรื่องราคาได้ บราๆ</p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalSearchLoDetailFavorite">
                        สนใจ
                    </button>

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalSearchLoDetailBooking">
                        จอง
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div class="row matop">
        <div class="offset-md-3 col-md-3 col-sm-6">
            <div class="card">
                <div id="SearchLoDetail4" class="carousel slide" data-ride="carousel">
                    <a class="btn" href="#myModalSearchLoDetail4" data-toggle="modal">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />
                            </div>
                        </div>
                    </a>
                    <div id="myModalSearchLoDetail4" class="modal hide fade" tabindex="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />  </p>
                            <p><img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />  </p>
                            <p><img src="~/IMG1/ร้านอาหาร1.jpg" class="d-block w-100" />  </p>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#SearchLoDetail4" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#SearchLoDetail4" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">โซนOutdoor</h5>
                    <p class="card-text">ราคา: 5,000 บาท</p>
                    <p class="card-text">ค่ามัดจำ: 1,000 บาท</p>
                    <p class="card-text">จำนวนคน: 20 คน</p>               
                    <p class="card-text">เบอร์โทรติดต่อ: 091-234-7890</p>
                    <p class="card-text">อีเมล: event@hotmail.com</p>
                    <p class="card-text">ตำแหน่งที่ตั้ง: 99/9 ซอย9 บราๆ</p>
                    <p class="card-text">หมายเหตุ:สามารถคุยรายละเอียดเรื่องราคาได้ บราๆ</p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalSearchLoDetailFavorite">
                        สนใจ
                    </button>

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalSearchLoDetailBooking">
                        จอง
                    </button>
                </div>
            </div>
        </div>
    </div>*@

    <nav aria-label="Page navigation example">
        <ul class="pagination aa">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>



<!-- Modal -->
<div class="modal fade" id="ModalSearchLoDetailFavorite" tabindex="-1" role="dialog" aria-labelledby="ModalSearchLoDetailFavorite" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalSearchLoDetailFavorite">เตือน!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>ข้อมูลถูกบันทึกแล้ว</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalSearchLoDetailBooking" tabindex="-1" role="dialog" aria-labelledby="ModalSearchLoDetailBooking" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalSearchLoDetailBooking">เตือน!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>การจองของคุณจะถูกส่งไปยังผู้ให้เช่า กรุณารอการติดต่อกลับ</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>



@section scripts {
    @Scripts.Render("~/bundles/scripts/AddLo")
}


