<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg Cd1 bg-pink">
        <img src="~/IMG1/Logo.png" class="pic" alt="..." />
        <a class="navbar-brand On" href="@Url.Action("Index", "Home")"><h4>EventBear</h4></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link Jong" href="@Url.Action("Index", "Booking")">รายการจอง<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Sod" href="@Url.Action("Index", "Favorite")">สนใจสถานที่</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle Pop" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        เพิ่มสถานที่
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("IndexAddLo", "AddLo")">เพิ่มสถานที่ให้เช่า</a>


                        <a class="dropdown-item" href="@Url.Action("IndexAddRoom", "AddLo")">เพิ่มห้อง/โซน</a>
                    </div>


                </li>
                <li class="nav-item">
                    <a class="nav-link Fon" href="@Url.Action("Index", "AlertBooking")">สถานที่ถูกจอง</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Fon" href="@Url.Action("Index", "AlertFavorite")">สถานที่ถูกสนใจ</a>
                </li>
            </ul>

            <div class="form-inline my-1 my-lg-0">
                @if (Session["Email"] != null)
                { 
                   <div class="nav-link  Login " style="color:black"> ยินดีต้อนรับ @Session["Email"].ToString()  </div>
                   <a class="nav-link  Register"  style="color:black" href="@Url.Action("Logout", "Home")">ออกจากระบบ</a>
                }
                else
                {
                    <a class="nav-link  Login " style="color:black" data-toggle="modal" data-target="#myModal_Login">เข้าสู่ระบบ</a>

                    <a class="nav-link Register" style="color:black" data-toggle="modal" data-target="#myModal_Register">สมัครสมาชิก</a>
                }
                
            </div>

            
        </div>
    </nav>
    <div class="container body-content">
        

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
