@model  EventBearWebApp.Models.PlaceModel


@{
    ViewBag.Title = "IndexAddLo";
}

<div class="container-fluid">
    <div class="row matop">
        <div class="col-md-12">
            <h4 class="search NameEvent">ลงทะเบียนสถานที่ให้เช่า</h4>
        </div>
    </div>
</div>


@using (Html.BeginForm("Place", "AddLo", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.Place_ID, new { @class = "form-control" }) 

    <div class="card" style="width: 18rem; height:100%; width:100%">
        <div class="card-body">
            <div class="container">

                @*<div class="row matop">
                    <div class="offset-md-2 col-md-12">

                        @using (Html.BeginForm("Picture", "Home", FormMethod.Post,
            new { enctype = "multipart/form-data" }))
                        {
                            <label for="file">อัพโหลดรูปภาพ:</label>
                            <input type="file" name="file" id="file" style="width: 100%;" />
                            <input type="submit" value="Upload" class="submit" />
                        }

                    </div>
                </div>*@


                <div class="row matop">

                    <div class="offset-md-2 col-md-4 matop">

                        <div class="form-group">
                            @Html.Label("ชื่อสถานประกอบการ:")
                            @Html.TextBoxFor(Model => Model.Place_Name, new { @class = "form-control", placeholder = "เช่น EventBear หมูกระทะ" })
                            @*@Html.ValidationMessageFor(Model => Model.Place_Name)*@
                        </div>

                        <div class="form-group">
                            @Html.Label("ประเภท:")
                            @Html.DropDownListFor(Model => Model.PlaceType_ID, new SelectList(ViewBag.placetypename, "PlaceType_ID", "PlaceType_Name"), "ระบุประเภทสถานที่",
new { @class = "form-control" })
                        </div>


                        <div class="form-group">
                            @Html.Label("เบอร์โทรร้าน:")
                            @Html.TextBoxFor(Model => Model.Place_Tel, new { @class = "form-control", placeholder = "เช่น 0914827531" })
                        </div>


                        <div class="form-group">
                            @Html.Label("อีเมล:")
                            @Html.TextBoxFor(Model => Model.Place_Email, new { @class = "form-control", placeholder = "เช่น Event@gmail.com" })
                        </div>

                        <div class="form-group">
                            @Html.Label("จังหวัด:")
                            @Html.DropDownListFor(Model => Model.Place_Province, new SelectList(ViewBag.provincename, "ID", "Name"), "ระบุจังหวัด", new { @class = "form-control bt" })
                        </div>

                        <div class="form-group">
                            @Html.Label("เขต/อำเภอ:")
                            @Html.DropDownListFor(Model => Model.Place_District, new SelectList(ViewBag.District, "ID", "Name"), "ระบุเขต/อำเภอ", new { @class = "form-control" })
                        </div>
                      
                    </div>

                    <div class="col-md-4 matop">


                        <div class="form-group">
                            @Html.Label("แขวง/ตำบล:")
                            @Html.DropDownListFor(Model => Model.Place_SubDistrict, new SelectList(ViewBag.SubDistrict, "ID", "Name"), "ระบุแขวง/ตำบล", new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.Label("เลขที่:")
                            @Html.TextBoxFor(Model => Model.Place_Address, new { @class = "form-control", placeholder = "เช่น 99/99" })
                        </div>

                        <div class="form-group">
                            @Html.Label("ถนน:")
                            @Html.TextBoxFor(Model => Model.Place_Road, new { @class = "form-control", placeholder = "เช่น พหลโยธิน" }) 
                        </div>

                        <div class="form-group">
                            @Html.Label("ตรอก/ซอย:")
                            @Html.TextBoxFor(Model => Model.Place_Alley, new { @class = "form-control", placeholder = "เช่น พหลโยธิน49" })
                        </div>
                      
                        <div class="form-group">
                            @Html.Label("รหัสไปรษณีย์:")
                            @Html.TextBoxFor(Model => Model.Place_Zipcode, new { @class = "form-control" })
                        </div>                  

                    </div>

                </div>


                <div class="row matop">
                    <div class="offset-md-2 col-md-4 pd-100 magL140">
                        <div class="col-md-1">
                            <div class="divbutton">
                                <button type="button" class="btn btn-dark btt mgL-200" data-toggle="modal" data-target="#ModalAddLoSave">
                                    บันทึก
                                </button>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-1 pd-100">
                        <div class="divbutton">
                            <button type="button" class="btn btn-dark btt mgR-200" data-toggle="modal" data-target="#ModalAddLoCancel">
                                ยกเลิก
                            </button>
                        </div>
                    </div>*@
                </div>


                @*<div class="row matop">
                    <div class="offset-md-4 col-md-4">
                        <div class="divbutton">
                            <a href="@Url.Action("IndexAddRoom", "AddLo")" class="btn btn-dark mgL-95">เพิ่มห้อง/โซน</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

    <!-- Modal บันทึก-->
    <div class="modal fade" id="ModalAddLoSave" tabindex="-1" role="dialog" aria-labelledby="ModalAddLoSave" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAddLoSave">เตือน!!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>ข้อมูลของคุณจะถูกจัดเก็บไว้ในระบบ!!!</p>
                </div>
                <div class="modal-footer">                 
                    <button type="submit" class="btn btn-secondary">ตกลง</button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal ยกเลิก-->
    @*<div class="modal fade" id="ModalAddLoCancel" tabindex="-1" role="dialog" aria-labelledby="ModalAddLoCancel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAddLoCancel">เตือน!!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>ข้อมูลที่คุณกรอกจะถูกลบออก!!!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>*@
}

@section scripts {
    @Scripts.Render("~/bundles/scripts/AddLo")
}