@model RoomAndZoneModel
@{
    ViewBag.Title = "IndexAddRoom";
}

<div class="container-fluid">
    <div class="row matop">
        <div class="col-md-12">
            <h4 class="search NameEvent">เพิ่มโซนหรือห้องต่างๆ</h4>
        </div>
    </div>
</div>

<div class="card" style="width: 18rem; height:100%; width:100%">

    <div class="card-body">
        @using (Html.BeginForm("AddRoomAndZone", "AddLo", FormMethod.Post))
            {
            <div class="container">

                <div class="row  matop">
                    <div class="offset-md-2 col-md-4 matop">
                        <div class="form-group">
                            @Html.Label(("ชื่อห้อง/โซน:"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.RoomAndZone_Name, new { @class = "form-control", placeholder = "เช่น ห้องบอลลูน" })
                            @*@Html.ValidationMessageFor(Model => Model.Place_Name)*@
                        </div>
                        <div class="form-group">
                            @Html.Label(("ราคา"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.RoomAndZone_Price, new { @class = "form-control", placeholder = "เช่น 5,000" })
                            @*@Html.ValidationMessageFor(Model => Model.Place_Name)*@
                        </div>
                        <div class="form-group">
                            @Html.Label(("ค่ามัดจำ"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.RoomAndZone_Deposit, new { @class = "form-control", placeholder = "เช่น 1,000" })
                            @*@Html.ValidationMessageFor(Model => Model.Place_Name)*@
                        </div>
                    </div>
                    <div class="col-md-4 matop">
                        <div class="form-group">
                            @Html.Label(("จำนวนคน"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.RoomAndZone_NumberPeople, new { @class = "form-control", placeholder = "เช่น 20 คน" })
                            @*@Html.ValidationMessageFor(Model => Model.Place_Name)*@
                        </div>

                        <div class="form-group">
                            @Html.Label(("หมายเหตุ"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.RoomAndZone_Note, new { @class = "form-control", placeholder = "ระบุเงื่อนไขเพิ่มเติม" })
                            @*@Html.ValidationMessageFor(Model => Model.Place_Name)*@
                        </div>

                    </div>
                </div>
            </div>
            <div class="row matop">   
                    <div class="col-md-6">
                        <div class="divbutton offset-10">
                            <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#ModalAddRoomSave">
                                บันทึก
                            </button>
                        </div>
                    </div>
                <div class="col-md-2">
                    <div class="divbutton1">                                    
                        <a href="@Url.Action("ListAddRoom", "AddLo")"class="btn btn-dark">ข้อมูล</a>
                    </div>
                </div>
            </div>

            @section scripts {
                @Scripts.Render("~/bundles/scripts/AddLo")
            }
            <script>
                var $form = null;
                $(function () {

                    $form = $('#fileupload').fileupload({
                        dataType: 'json'
                    });

                });
                $('#fileupload').addClass('fileupload-processing');



                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '/FileUpload/GetFileList',
                    success: function (data) {


                        $('#fileupload').fileupload('option', 'done').call($('#fileupload'), $.Event('done'), { result: { files: data.files } })
                        $('#fileupload').removeClass('fileupload-processing');
                    }

                }

                );
            </script>
                @Scripts.Render("~/bundles/jQuery-File-Upload")
}
        @Html.Partial("_Files")



        @Styles.Render("~/Content/jQuery-File-Upload")
        @Styles.Render("~/Content/FileUpload/css")
    </div>
</div>

