@model  EventBearWebApp.Models.PlaceModel

@{
    ViewBag.Title = "IndexAddLo";
}

<div class="card" style="width: 18rem; height:100%; width:100%">

    <div class="card-body">

        @using (Html.BeginForm("Place", "AddLo", FormMethod.Post))
        {
            @Html.HiddenFor(Model => Model.Place_ID, new { @class = "form-control" })

            <div class="container">

                <div class="container-fluid">
                    <div class="row matop">
                        <div class="col-md-12">
                            <h4 class="search NameEvent">ลงทะเบียนสถานที่ให้เช่า</h4>
                        </div>
                    </div>
                </div>
                <div class="row matop">
                    <div class="offset-md-2 col-md-4 matop">
                        <div class="form-group">
                            @Html.Label(("ชื่อสถานประกอบการ:"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.Place_Name, new { @class = "form-control", placeholder = "เช่น EventBear หมูกระทะ" })
                            @*@Html.ValidationMessageFor(Model => Model.Place_Name)*@
                        </div>
                        <div class="form-group">
                            @Html.Label(("ประเภท:"), new { @class = "rop" })
                            @Html.DropDownListFor(Model => Model.PlaceType_ID, new SelectList(ViewBag.placetypename, "PlaceType_ID", "PlaceType_Name"), "ระบุประเภทสถานที่",
new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label(("เบอร์โทรร้าน:"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.Place_Tel, new { @class = "form-control", placeholder = "เช่น 0914827531" })
                        </div>
                        <div class="form-group">
                            @Html.Label(("อีเมล:"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.Place_Email, new { @class = "form-control", placeholder = "เช่น Event@gmail.com" })
                        </div>
                        <div class="form-group">
                            @Html.Label(("จังหวัด:"), new { @class = "rop" })
                            @Html.DropDownListFor(Model => Model.Place_Province, new SelectList(ViewBag.provincename, "ID", "Name"), "ระบุจังหวัด", new { @class = "form-control bt" })
                        </div>
                        <div class="form-group">
                            @Html.Label(("เขต/อำเภอ:"), new { @class = "rop" })
                            @Html.DropDownListFor(Model => Model.Place_District, new SelectList(ViewBag.District, "ID", "Name"), "ระบุเขต/อำเภอ", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4 matop">
                        <div class="form-group">
                            @Html.Label(("แขวง/ตำบล:"), new { @class = "rop" })
                            @Html.DropDownListFor(Model => Model.Place_SubDistrict, new SelectList(ViewBag.SubDistrict, "ID", "Name"), "ระบุแขวง/ตำบล", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label(("เลขที่:"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.Place_Address, new { @class = "form-control", placeholder = "เช่น 99/99" })
                        </div>
                        <div class="form-group">
                            @Html.Label(("ถนน:"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.Place_Road, new { @class = "form-control", placeholder = "เช่น พหลโยธิน" })
                        </div>
                        <div class="form-group">
                            @Html.Label(("ตรอก/ซอย:"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.Place_Alley, new { @class = "form-control", placeholder = "เช่น พหลโยธิน49" })
                        </div>
                        <div class="form-group">
                            @Html.Label(("รหัสไปรษณีย์:"), new { @class = "rop" })
                            @Html.TextBoxFor(Model => Model.Place_Zipcode, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>


                <div class="row">
                    <div class="offset-md-12 col-md-4 tio ">
                        <div class="col-md-1">
                            <div class="divbutton">
                                <button type="submit" class="btn btn-primary mmm" style="margin-left:450px;" data-toggle="modal" data-target="#ModalAddLoSave">
                                    บันทึก
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                @section scripts {
                    @Scripts.Render("~/bundles/scripts/AddLo")
                }
                <script>
                var $form = null;
                $(function () {

                    $form = $('#fileupload').fileupload({
                        dataType: 'json'
                    });

                });
                $('#fileupload').addClass('fileupload-processing');



                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '/FileUpload/GetFileList',
                    success: function (data) {


                        $('#fileupload').fileupload('option', 'done').call($('#fileupload'), $.Event('done'), { result: { files: data.files } })
                        $('#fileupload').removeClass('fileupload-processing');
                    }

                }

                );
                </script>
                @Scripts.Render("~/bundles/jQuery-File-Upload")

        <!-- Modal บันทึก-->
                <div class="modal fade" id="ModalAddLoSave" tabindex="-1" role="dialog" aria-labelledby="ModalAddLoSave" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalAddLoSave">เตือน!!!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>ข้อมูลของคุณจะถูกจัดเก็บไว้ในระบบ!!!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary">ตกลง</button>
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </div>

        }

        @Html.Partial("_Files")



        @Styles.Render("~/Content/jQuery-File-Upload")
        @Styles.Render("~/Content/FileUpload/css")
    </div>
</div>